{% extends 'base.html' %}
{% block title %}Interactive{% endblock %}
{% block content %}
<h1 class="mt-4 mb-4">Interactive Graphs</h1>
  <div class="list-group">
    <a class="list-group-item list-group-item-action" href="{{ url_for('interactive_ttc') }}">Time to Completion Histogram</a>
    <a class="list-group-item list-group-item-action" href="{{ url_for('interactive_taskflow') }}">Monthly Task Flow</a>
    <a class="list-group-item list-group-item-action" href="{{ url_for('interactive_time_minutes') }}">Weekly Task Time (Minutes)</a>
    <a class="list-group-item list-group-item-action" href="{{ url_for('interactive_taskflow_weekly') }}">Weekly Task Flow (Counts)</a>
    <a class="list-group-item list-group-item-action" href="{{ url_for('interactive_workspace') }}">Workspace Distribution</a>
    <a class="list-group-item list-group-item-action" href="{{ url_for('interactive_waterfall_route') }}">Task Waterfall</a>
  </div>
{% endblock %}
